<h1>Anagram Checker</h1>
<form action="/form" method="post">
  <label for="originalWord">Please enter a word:</label>
  <input type="text" name="originalWord">
  <label for="anagramWord">Please enter an anagram of the first word:</label>
  <input type="text" name="anagramWord">
  <button type="submit">Submit</button>
</form>
