<h1>Anagram Checker</h1>
<form action="/form" method="post">
  <label for="new-word">Please enter a word:</label>
  <input type="text" name="word-original">
  <label for="new-word">Please enter an anagram of the first word:</label>
  <input type="text" name="word-anagram">
  <button type="submit">Submit</button>
</form>
