<h1>Anagram Checker</h1>
<form action="/form" method="post">
  <label for="new-word">Please enter a word:</label>
  <input type="text" name="new-word">
  <button type="submit">Submit</button>
</form>
